body {
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.container {
    max-width: 70%;
    margin: 0 10%;
    padding-left: 5%;
    padding-right: 5%;
}

.header {
    height: 45px;
    background-color: #000;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.header-h1 {
    flex: 1;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
}

.green-letter {
    color: #00C19B;
    font-weight: 700;
}

.navigation ul li a {
    text-decoration: none;
    list-style: none;
    list-style-type: none;
    font-size: 16px;
    flex: 1;
    text-transform: uppercase;
}

.navigation ul {
    display: flex;
    justify-content: center;
    padding: 0;
    list-style-type: none;
}

.navigation a {
    padding-left: 30px;
    color: #fff;
    font-weight: 700;
}

.navigation a:hover {
    color: #00C19B;
}

.section-1 {
    height: 500px;
    background-image: linear-gradient(to bottom, #FDFDFD, #CFCED6);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.section-1-image {
    flex: 1;
    order: 2;
    width: 70%;
    height: 70%;
}

.section-1-image img {
    height: auto;
    width: auto;
}

.section-1-article {
    flex: 1;
    order: 3;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 70%;
}


.section-1-article h2 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 40px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.section-1-article span {
    padding: 0 5px;
}

.section-1-article p {
    text-align: center;
    display: flex;
    flex: 1;
    align-items: center;
    align-content: center;
    justify-content: center;
}



.section-1-button {
    color: #fff;
    background-color: #00C19B;
    height: 60px;
    width: 240px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 10px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin: 40px auto 0;
}

.section-1-button:hover {
    background-color: #00a088;
    font-size: 22px;
}


.arrow {
    height: 100px;
    width: 100px;
    font-size: 80px;
    color: #00C19B;
}

.arrow-left {
    order: 1;
}

.arrow-right {
    order: 4;
    display: flex;
    justify-content: flex-end;
}

.arrow-left:hover {
    color: #00a088;
    cursor: pointer;
}

.arrow-right:hover {
    color: #00a088;
    cursor: pointer;
}


.section-2 {
    height: 300px;
    background-color: #fff;
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.section-2 img {
    height: 80%;
    width: 40%;
    padding-right: 20px;
}

.section-2-article {
    height: 85%;
    width: 40%;
    border: solid 1px #DADADA;
    padding: 1% 2%;
}